* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eaf6ff; /* azul clarito */
    color: #111;
    line-height: 1.6;
}

header {
    background-color: #000; /* negro */
    color: white;
    text-align: center;
    padding: 25px 10px;
}

.boton {
  display: inline-block;
  padding: 12px 24px;
  background-color: #003366; /* azul oscuro */
  color: white;
  text-decoration: none;
  border-radius: 8px; /* esquinas curvas */
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.boton:hover {
  transform: scale(1.05); /* sobresale al pasar el mouse */
}

.boton:active {
  background-color: #3399ff; /* azul claro al hacer clic */
}

header h1 {
    font-size: 2.2em;
}

.autor {
    margin-top: 5px;
    font-style: italic;
    color: #a8d8ff;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #a8d8ff;
    text-decoration: none;
    margin: 0 12px;
    font-weight: 600;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

.seccion {
    padding: 40px 20px;
    text-align: center;
    background-color: white;
    margin: 25px auto;
    width: 85%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.seccion h2 {
    color: #0a5fa8;
    margin-bottom: 15px;
}

.seccion p {
    margin-bottom: 15px;
    font-size: 1.05em;
}

.seccion img {
    width: 70%;
    max-width: 450px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    margin-top: 30px;
}
